{% include 'client/Cabecera_Client.html' %}
<div id="layoutSidenav_content">
  <main>
    <div class="container-fluid px-4">
      <h1 class="mt-4">Ecopetrol</h1>
      <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">CALCULA TU HUELLA DE CARBONO</li>
      </ol>
      <div class="container-fluid px-4">
        <button id="Add_Fuente">Fuente De Emision</button>        
        <form method="post" action="{{ url_for('HuellaCarbono.Calculo_Calculadora_HC') }}">        
          {{form.csrf_token}}                       
          <div class="mb-3 row">
            <div class="col-label-selec">
              <label id= "Lab_Categoria" class="form-check-label" style="display: none">Categoria</label>
              {{form.Sel_Categoria}}                             
            </div>
            <div class="col-label-selec">
              <label id= "Lab_Fuente" class="form-check-label" style="display: none">Fuente de Emision</label>   
              {{form.Sel_Fuente}}       
            </div> 
            <div class="col-label-selec">
              <div class="label-select-container">
                <label id="Lab_Datos" class="form-check-label" style="display: none">Datos a ingresar</label>
                {{form.Sel_Datos}}                   
              </div>     
              <div id="inputContainer"></div>         
            </div>    
            <div class="col-label-selec">
              <button id="Boton_Calcular" type="submit" class="btn btn-primary" style="display: none">Calcular</button>    
            </div>             
          </div>                  
        </form>          
      </div>
      <div class="container-fluid px-4">
        <table id="Tabla_Client_1">
          <thead>
            <tr>
                <th scope="col">Fecha</th>
                <th scope="col">Categoria</th>
                <th scope="col">Fuente</th>
                <th scope="col">Cantidad usada</th>                
                <th scope="col">Unidad</th>
                <th scope="col">Huella Carbono Generada</th>
                <!-- <th scope="col">Incertidumbre</th>-->
                <th scope="col">Acciones</th>
            </tr>
          </thead> 
          <tbody id="Body_Client_T1">   
          </tbody> 
        </table>  
      </div>
      <div class="modal fade" id="Edit_Modal_Cliente_HC" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="editModalLabel">Editar Registro de Calculo</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">                              
                <label for="Edit_Categoria"  class="form-label">Categoria</label>
                {{form.Sel_Categoria(id='Sel_Categoria_Modal')}}    
                <label for="Edit_Fuente" class="form-label">Fuente de Emision</label>   
                {{form.Sel_Fuente(id='Sel_Fuente_Modal')}}   
                <!-- <label for="Edit_CH4_Fija">Factor CH4 Fijo:</label>
                <input type="text" id="Edit_CH4_Fija" class="form-control" >                                                                      
                <label for="Edit_N2O_Fija">Factor N2O Fijo:</label>
                <input type="text" id="Edit_N2O_Fija" class="form-control">                                             
                <label for="Edit_CH4_Movil">Factor  CH4 Movil:</label>
                <input type="text" id="Edit_CH4_Movil" class="form-control"> 
                <label for="Edit_N2O_Movil">Factor N2O Movil:</label>
                <input type="text" id="Edit_N2O_Movil" class="form-control">  -->
                <!-- Agrega los demás campos según tus necesidades -->
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="button" onclick="Guardar_Cambios()" class="btn btn-primary" id="GuardarCambios">Guardar Cambios</button>
            </div>
          </div>
        </div>
    </div>
    </div>
  </main>
{% include 'client/Pie_Client.html' %}
